<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Pradeep Agrawal</span>
    <span class="d-none d-lg-block">
      <%= image_tag "profile.jpg", class: "img-fluid img-profile rounded-circle mx-auto mb-2" %>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
    </ul>
  </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
      <div class="resume-section-content">
          <h1 class="mb-0">
            Pradeep
            <span class="text-primary">Agrawal</span>
          </h1>
          <div class="subheading mb-5">
            4851 Carmella Drive · Halethorpe, MD 21227 · (443) 514-9685 ·
            <a href="mailto:pdagrawala@gmail.com">pdagrawala@gmail.com</a>
          </div>
          <p class="lead">I have over 7 years of professional work experience in developing websites and REST APIs in Python, Django, Ruby on Rails, etc. I have worked with PostgreSQL, and MySQL and deployed them using Docker on the AWS cloud as well as on Heroku. So, from development to deployment, I have done it all. Therefore, I can utilize that experience and exceed expectations.</p>
          <p class="lead mb-5">My ability to understand complex problems and provide innovative solutions has earned me a reputation as a problem solver. I am a quick learner and have a strong passion for staying up-to-date with the latest technologies and industry trends. My excellent communication and teamwork skills have also proven instrumental in collaborating effectively with colleagues, stakeholders, and clients. Overall, my skills and expertise in software development make me a valuable asset to any organization that I am a part of.</p>
          <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/pdagrawal/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/pdagrawal" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://leetcode.com/pdagrawal/" target="_blank"><svg class="svg-inline--fa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="leetcode"><path fill="#B3B1B0" d="M22 14.355c0-.742-.564-1.346-1.26-1.346H10.676c-.696 0-1.26.604-1.26 1.346s.563 1.346 1.26 1.346H20.74c.696.001 1.26-.603 1.26-1.346z"></path><path fill="#E7A41F" d="m3.482 18.187 4.313 4.361c.973.979 2.318 1.452 3.803 1.452 1.485 0 2.83-.512 3.805-1.494l2.588-2.637c.51-.514.492-1.365-.039-1.9-.531-.535-1.375-.553-1.884-.039l-2.676 2.607c-.462.467-1.102.662-1.809.662s-1.346-.195-1.81-.662l-4.298-4.363c-.463-.467-.696-1.15-.696-1.863 0-.713.233-1.357.696-1.824l4.285-4.38c.463-.467 1.116-.645 1.822-.645s1.346.195 1.809.662l2.676 2.606c.51.515 1.354.497 1.885-.038.531-.536.549-1.387.039-1.901l-2.588-2.636a4.994 4.994 0 0 0-2.392-1.33l-.034-.007 2.447-2.503c.512-.514.494-1.366-.037-1.901-.531-.535-1.376-.552-1.887-.038l-10.018 10.1C2.509 11.458 2 12.813 2 14.311c0 1.498.509 2.896 1.482 3.876z"></path><path fill="#070706" d="M8.115 22.814a2.109 2.109 0 0 1-.474-.361c-1.327-1.333-2.66-2.66-3.984-3.997-1.989-2.008-2.302-4.937-.786-7.32a6 6 0 0 1 .839-1.004L13.333.489c.625-.626 1.498-.652 2.079-.067.56.563.527 1.455-.078 2.066-.769.776-1.539 1.55-2.309 2.325-.041.122-.14.2-.225.287-.863.876-1.75 1.729-2.601 2.618-.111.116-.262.186-.372.305-1.423 1.423-2.863 2.83-4.266 4.272-1.135 1.167-1.097 2.938.068 4.127 1.308 1.336 2.639 2.65 3.961 3.974.067.067.136.132.204.198.468.303.474 1.25.183 1.671-.321.465-.74.75-1.333.728-.199-.006-.363-.086-.529-.179z"></path></svg></a>
          </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineer Intern</h3>
                <div class="subheading mb-3">Campbell & Company</div>
                <p class="mb-0">• Automated 6 data pipelines from Bloomberg, Onetick using Apache Airflow DAGs resulting in a 55% reduction in data processing time.</p>
                <p class="mb-0">• Developed a drive failure mode analysis model utilizing RabbitMQ, Spark, and Airflow, resulting in a 41% reduction in turnaround time.</p>
                <p class="mb-0">• Integrated Spark with AWS services including S3, EMR, and Redshift for data ingestion, processing, and storage of claims data.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">May 2022 - May 2023</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                  <h3 class="mb-0">Associate Technical Architect</h3>
                  <div class="subheading mb-3">Systango Technologies</div>
                  <p class="mb-0">• Reported directly to CTO: Led the design and development of multiple enterprise-level microservice applications using the latest technologies of Python, Django, Ruby on Rails, PySpark, AWS, SQL, NoSQL, REST APIs, Docker, Redis, and Elasticsearch.</p>
                  <p class="mb-0">• Designed and implemented scalable APIs and Databases to handle 20 thousand requests per second by utilizing multithreading with background processes using the Sidekiq job scheduler and caching.</p>
                  <p class="mb-0">• Led a team of 12 Software Engineers working on various applications and reviewed their pull requests as Technical Lead.</p>
                  <p class="mb-0">• Continuous Integration/Deployment Pipeline Integration, pull requests, code reviews, load/stress testing, unit/integration/e2e testing.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2020 - August 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <div class="subheading mb-3">Systango Technologies</div>
                    <p class="mb-0">• Developed numerous E2E solutions, From establishing system needs and partner dependencies to workload balancing, software implementation, testing, and configuring metrics, alarms, monitors, and dashboards using Python, Django, PostgreSQL, and AWS.</p>
                    <p class="mb-0">• Upgraded a legacy application from Rails 2 to Rails 5, reducing the average request processing time by 78% from 4.5 to 1 second.</p>
                    <p class="mb-0">• Created an optimized reporting module in an enterprise application achieving approx 250% improvement in performance using raw SQL.</p>
                    <p class="mb-0">• Designed and implemented invoicing and payment solutions used by several businesses and freelancers for one-time or recurring payments in over 135 currencies, driving monthly revenue of $30 million using Python, Django, MySQL, Vuejs, MVC, Stripe, and PayPal.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">April 2017 - December 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Software Engineer</h3>
                    <div class="subheading mb-3">Systango Technologies</div>
                    <p class="mb-0">• Built Spark Streaming pipelines for processing real-time insurance data from Kafka, handling around 100GB of data daily.
                    <p class="mb-0">• Built a microservice for chat, audio and video calls with Twilio Apis and used it in three applications, saving 3 months of work.
                    <p class="mb-0">• Integrated payment gateways in 4 websites and 3 mobile apps like Stripe, Omise, Authorize.net, Braintree, PayPal, Square, etc.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2016 - March 2017</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Associate Software Engineer</h3>
                    <div class="subheading mb-3">Systango Technologies</div>
                    <p class="mb-0">• Created Thailand's largest spa and beauty booking application in Python, and Django, which can be accessed in 3 languages.
                    <p class="mb-0">• Built a sports-specific social networking platform that empowers amateur athletes to self-promote and chronicle their careers.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">June 2015 - August 2016</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Maryland, Baltimore County</h3>
                    <div class="subheading mb-3">Master of Science</div>
                    <div>Computer Science</div>
                    <p>GPA: 3.86</p>
                    <div><b>Core Subjects</b></div>
                    <div>Design and Analysis of Algorithms</div>
                    <div>Principles of Artificial Intelligence</div>
                    <div>Machine Learning</div>
                    <div>Data Science</div>
                    <div>Information Retrieval</div>
                    <div>Computer Security</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2021 - May 2023</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Shri Vaishnav Institute of Technology and Science</h3>
                    <div class="subheading mb-3">Bachelor of Engineering</div>
                    <div>Computer Science</div>
                    <p>GPA: 3.18</p>
                    <div><b>Core Subjects</b></div>
                    <div>Data Structure</div>
                    <div>Object Oriented Technology</div>
                    <div>DBMS</div>
                    <div>Distributed Systems</div>
                    <div>Cloud Computing</div>
                    <div>Web Engineering</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2011 - May 2015</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
              <li class="list-inline-item"><%= svg 'ruby_logo' %></li>
              <li class="list-inline-item"><i class="fa-brands fa-python"></i></li>
              <li class="list-inline-item"><i class="fa-brands fa-aws"></i></li>
              <li class="list-inline-item"><i class="fa-brands fa-docker"></i></li>
              <li class="list-inline-item"><i class="fab fa-html5"></i></li>
              <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
              <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
              <li class="list-inline-item"><i class="fab fa-react"></i></li>
              <li class="list-inline-item"><i class="fa-brands fa-node"></i></li>
              <li class="list-inline-item"><i class="fa-brands fa-git"></i></li>
            </ul>
            <div class="clearfix mt-5">
                <ul class="fa-ul mb-0">
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Python | Django | Ruby on Rails | JavaScript | C++ | Scala | Bash | PostgreSQL | MySQL | Oracle | MongoDB | Snowflake | Redis | RESTful
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        AWS | RDS | EC2 | Lambda | S3 | IAM | Redshift | CloudWatch | Azure | Docker | CI/CD | Nginx | Apache | Puma | DevOps | Jenkins | Git
                    </li>
                    <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        PySpark | Kafka | Hadoop | MapReduce | Airflow | Microservices | Distributed Systems | Linux | multithreading | Pandas | NumPy | SciPy
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a software engineer, I enjoy most of my time being outdoors, playing Badminton or hitting gym. In the winter, I like going to places with a snow as I am learning skiing. During the warmer months here in Baltimore, I enjoy going for tracking on small to medium trails, and kayaking.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies. I recently got hooked up with Anime and now I like watching them in my leasure time. I spend a large amount of my free time exploring the latest technology advancements in the back-end web development world.</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    National Award - Highest Committed Student Branch Activist - Computer Society of India 2014
                </li>
            </ul>
        </div>
    </section>
</div>